<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Services Page</title>
  </head>
  <body>
    <div class="container" style="text-align: center">
        {% include "navbar.html" %}
      <h1>Services we provide us</h1>

      <p>
        Lorem ipsum dolor sit amet consectetur adipisicing elit. Alias, quis
        quia nobis explicabo earum autem odio fuga fugit ad aperiam. Corporis
        illo distinctio libero at, laborum error suscipit voluptate asperiores
        voluptatibus. Ratione laborum eum recusandae nam odio saepe in! Ab
        minima est inventore aperiam suscipit odio repellendus exercitationem
        nulla deleniti.
      </p>
      <button>Contact Us</button>
    </div>
  </body>
</html>
